<header class="header">
    <!-- Header section with navigation and user details -->
    <img class="rectangle-9" src="img/rectangle-2.svg"/>
    <!-- Decorative rectangle image -->
    <div class="rectangle-10"></div>
    <!-- Placeholder rectangle -->
    <div class="text-wrapper-2">Environmental Compliance Management System</div>
    <!-- Title of the system -->
    <div class="navigation-bar">
        <!-- Navigation bar with links -->
        <div class="overlap-group">
            <div class="overlap">
                <div class="text-wrapper-3">
                    <a style="text-decoration: none;" href="/">Dashboard</a>
                    <!-- Navigation link to Dashboard -->
                </div>
            </div>
            <div class="text-wrapper-4">
                <a style="text-decoration: none;" href="/form">Forms</a>
                <!-- Navigation link to Forms -->
            </div>
            <div class="text-wrapper-5">
                <a style="text-decoration: none;" href="/responsible">Responsible</a>
                <!-- Navigation link to Responsible -->
            </div>
        </div>
    </div>
    <img class="enveng-logo" src="img/enveng-logo-1-1.svg"/>
    <!-- Logo image -->
    <div class="user-details">
        <!-- Section displaying user details -->
        <div class="avatar-block">
            <div class="avatar">
                <img src="img/shape-1.png"
                     style="height: 90%;width: auto;border-radius: 50%;margin: 4% auto;" alt="">
                <!-- User avatar image -->
            </div>
            <div class="info">
                <div class="text-wrapper-5">Title</div>
                <!-- Placeholder for user title -->
                <div class="text-wrapper-6">Description</div>
                <!-- Placeholder for user description -->
            </div>
        </div>
        <div class="settings">
            <img class="enveng-logo"
                 style="height: 90%;width: auto;border-radius: 50%;margin: 4% auto;"
                 src="img/settings-1.svg"/>
            <!-- Settings icon -->
        </div>
        <i class="fa-regular fa-circle-question help-circle fa-2x"></i>
        <!-- <img class="help-circle" src="img/help-circle-1.svg" /> -->
        <!-- Help icon -->
    </div>
</header>