<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    {% load static %} <!-- Load the static file handling features of Django -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <!-- Include the CSS stylesheet located at static/css/style.css -->

</head>

<body>
<div class="detailed-dashboard">
    <div class="div">
        <div class="body">
            <div class="rectangle"></div>
            <div class="slection-and">
                <div class="project-phase">
                    <div class="text-wrapper">Project Phase Selection</div>
                    <div class="dropdown-container">
                        <div class="dropdown-items">
                            <div class="small-heading">ONE SELECTION</div>
                        </div>
                        <div class="dropdown-items-hover">
                            <div class="text-wrapper-2">Select All</div>
                        </div>
                        <div class="dropdown-items">
                            <div class="text-wrapper-2">All Project Phases</div>
                        </div>
                        <div class="div-wrapper">
                            <div class="text-wrapper-3">Before Commencement</div>
                        </div>
                        <div class="dropdown-items">
                            <div class="text-wrapper-2">...</div>
                        </div>
                    </div>
                    <div class="frame">
                        <div class="navigation-pill-list">
                            <div class="navigation-pill">
                                <div class="title">All</div>
                            </div>
                            <div class="title-wrapper">
                                <div class="title-2">Completed</div>
                            </div>
                            <div class="navigation-pill">
                                <div class="title">in Progress</div>
                            </div>
                            <div class="navigation-pill">
                                <div class="title">Not Started</div>
                            </div>
                        </div>
                    </div>
                    <div class="statistics">
                        <p class="p">
                            <span class="span">29<br/></span> <span class="text-wrapper-4">Completed</span>
                        </p>
                        <p class="statistics-2">
                            <span class="text-wrapper-5">28%<br/></span> <span class="text-wrapper-6">Progression</span>
                        </p>
                        <p class="statistics-3">
                            <span class="text-wrapper-5">76<br/></span> <span class="text-wrapper-6">Left</span>
                        </p>
                    </div>
                    <button class="button">
                        <button class="button-2">Further Details</button>
                    </button>
                    <img class="arrow-drop-down" src="{% static 'img/arrow-drop-down.svg' %}"/>
                </div>
                <div class="detailed-diagram">
                    <div class="rectangle-2"></div>
                    <div class="div-wrapper-2">
                        <div class="text-wrapper-7">&lt;-</div>
                    </div>
                    <div class="window-icon">
                        <div class="rectangle-3"></div>
                        <div class="rectangle-4"></div>
                        <div class="rectangle-5"></div>
                        <div class="rectangle-6"></div>
                    </div>
                    <img class="image-icon" src="{%static 'img/image-icon-1.svg' %}"/>
                    <div class="div-wrapper-2">
                        <div class="text-wrapper-8">&lt;/&gt;</div>
                    </div>
                </div>
            </div>
            <div class="diagrams">
                <div class="dashboard-detail">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers-5.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-6.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link-8.svg' %}"/>
                        <img class="share" src="{% static 'img/share-5.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-detail">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-9.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link-8.svg' %}"/>
                        <img class="share" src="{% static 'img/share-8.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-detail">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers-8.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-8.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link.svg' %}"/>
                        <img class="share" src="{% static 'img/share-7.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-detail">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers-8.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-9.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link-8.svg' %}"/>
                        <img class="share" src="{% static 'img/share-8.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-detail-2">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers-5.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-6.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link-8.svg' %}"/>
                        <img class="share" src="{% static 'img/share-5.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-detail">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-9.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link-8.svg' %}"/>
                        <img class="share" src="{% static 'img/share-8.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-detail">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers-8.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-8.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link.svg' %}"/>
                        <img class="share" src="{% static 'img/share-7.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-detail">
                    <div class="text-wrapper-9">Diagram Title</div>
                    <img class="layers" src="{% static 'img/layers-8.svg' %}"/>
                    <div class="frame-2"></div>
                    <div class="icons">
                        <img class="more-vert" src="{% static 'img/more-vert-9.svg' %}"/>
                        <img class="external-link" src="{% static 'img/external-link-8.svg' %}"/>
                        <img class="share" src="{% static 'img/share-8.svg' %}"/>
                    </div>
                    <div class="pie-chart">
                        <div class="overlap-group">
                            <div class="text-wrapper-10">2</div>
                            <div class="text-wrapper-11">1</div>
                            <div class="text-wrapper-12">2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header">
            <img class="rectangle" src="{% static 'img/rectangle-2.svg' %}"/>
            <div class="rectangle-2"></div>
            <div class="text-wrapper">Environmental Compliance Management System</div>
            <div class="navigation-bar">
                <div class="overlap-group">
                    <div class="overlap">
                        <div class="text-wrapper-2"><a href="{% url 'forms' %}">Forms</a></div>
                    </div>
                    <div class="text-wrapper-3"><a href="{% url 'responsible' %}">Responsible</a></div>
                    <div class="text-wrapper-4"><a href="{% url 'dashboard' %}">Dashboard</a></div>
                </div>
            </div>
            <img class="enveng-logo" src="{% static 'img/enveng-logo-1.svg' %}"/>
            <div class="rectangle-3"></div>
            <div class="avatar-block">
                <div class="avatar">
                    <img src="{% static 'img/shape-1.png'%}"
                         style="height: 90%;width: auto;border-radius: 50%;margin: 4% auto;"
                         alt="">
                </div>
                <div class="info">
                    <div class="text-wrapper-5">Title</div>
                    <div class="text-wrapper-6">Description</div>
                </div>
            </div>
            <div class="settings"><img class="enveng-logo"
                                       style="height: 90%;width: auto;border-radius: 50%;margin: 4% auto;"
                                       src="{% static 'img/settings-1.svg' %}"/></div>
            <img class="help-circle" src="{% static 'img/help-circle.svg' %}"/>
        </header>
    </div>
</div>
</body>

</html>