<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/styles.css">
    <!-- Link to the CSS stylesheet located at static/css/style.css -->

    <script src="https://kit.fontawesome.com/41a0c9513c.js" crossorigin="anonymous"></script>
    <!-- fontawesome link -->
</head>

<body>
<div class="dashboard">
    <!-- Main dashboard container -->
    <div class="div">
        <div class="body">
            <!-- Body section of the dashboard -->
            <div class="frame">
                <!-- Frame containing the diagram and management icons -->
                <div class="diagram-wrapper">
                    <img class="diagram" src="{{ plot_url }}" alt="Matplotlib Plot">
                    <!-- Display a dynamic plot image (Matplotlib plot) -->
                </div>
                <div class="img-wrapper">
                    <img class="img" src="{% static 'img/diagram-2.png' %}"/>
                    <!-- Static image inside the diagram section -->
                </div>
                <div class="rectangle"></div>
                <!-- Placeholder rectangle -->
                <div class="diagram-management">
                    <!-- Section for diagram management icons -->
                    <div class="rectangle-2"></div>
                    <!-- Placeholder rectangle -->
                    <div class="window-icon">
                        <!-- Icon representing a window -->
                        <div class="rectangle-3"></div>
                        <div class="rectangle-4"></div>
                        <div class="rectangle-5"></div>
                        <div class="rectangle-6"></div>
                    </div>
                    <img class="image-icon" src="{% static 'img/image-icon-1.svg'%}"/>
                    <!-- Image icon for file management -->
                    <div class="data-icon">
                        <div class="text-wrapper">&lt;/&gt;</div>
                        <!-- Data icon with placeholder text -->
                    </div>
                </div>
                <div class="frame-2">
                    <img class="diagram-2" src="{% static 'img/diagram-3.png'%}"/>
                    <!-- Additional static diagram image -->
                </div>
                <div class="rectangle-7"></div>
                <div class="rectangle-8"></div>
                <!-- Placeholder rectangles -->
            </div>
        </div>
        <%- include('partials/header') %>
    </div>
</div>
</body>

</html>
