<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
        Login Page
    </title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <style>
        body {
            background-color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }


        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .card {
            width: 100%;
            max-width: 800px;
            border-radius: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 40px;
        }

        h1 {
            font-weight: bold;
            margin-bottom: 30px;
        }

        .form-control {
            border: none;
            border-bottom: 1px solid #ced4da;
            border-radius: 0;
            padding-left: 30px;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #80bdff;
        }

        .input-icon {
            position: absolute;
            left: 0;
            top: 10px;
            color: #adb5bd;
        }

        .btn-primary {
            background-color: #7cb9e8;
            border: none;
            padding: 10px 30px;
        }

        .btn-primary:hover {
            background-color: #5a9bd4;
        }

        .form-check-label {
            font-size: 0.9rem;
        }

        .login-link {
            text-align: right;
            margin-top: 20px;
        }

        .login-link a {
            color: #212529;
            text-decoration: none;
        }

        .desk-image {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <h1>
                        Login
                    </h1>
                    <form method="post" action="/loginuser">
                        <div class="mb-3 position-relative">
                            <i class="fas fa-envelope input-icon">
                            </i>
                            <input class="form-control" id="email" name="username" placeholder="Email OR Username"
                                   type="text"/>
                        </div>
                        <div class="mb-3 position-relative">
                            <i class="fas fa-lock input-icon">
                            </i>
                            <input class="form-control" id="password" name="password" placeholder="Password"
                                   type="password"/>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Login
                        </button>
                        <a class="btn btn-primary" href="/signup">
                            Signup
                        </a>
                    </form>
                </div>
                <div class="col-md-5 d-flex align-items-center">
                    <img
                            class="desk-image" height="300"
                            src="/img/enveng group logo_horizontal.png"
                            width="400"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>