<!DOCTYPE HTML>
<html lang="en_AU">
  <head>
    <link rel="stylesheet" href="assets/css/criticalStyles.css" />
    <link rel="stylesheet" href="assets/css/common.css" />
    <link rel="stylesheet" href="assets/css/header.css" />
  </head>
  <body>
    <header class="header">
      <div class="header-top" style="background: #a3b383"></div>
      <img
        class="enveng-logo"
        src="https://via.placeholder.com/112x55"
        style="
          background: linear-gradient(0deg, #1d1d1d 0%, #1d1d1d 100%);
          border-radius: 8px;
        "
      />
      <div class="user-info" style="background: #808d67; border-radius: 8px">
        <div class="avatar-block">
          <div class="avatar">
            <img src="https://via.placeholder.com/40x40" alt="User Avatar" />
          </div>
          <div class="info">
            <div
              class="text-wrapper-2"
              style="
                color: #1e1e1e;
                font-size: 16px;
                font-family: sans-serif;
                font-weight: 600;
              "
            >
              Title
            </div>
            <div
              class="text-wrapper-3"
              style="
                color: #1e1e1e;
                font-size: 16px;
                font-family: sans-serif;
                font-weight: 400;
              "
            >
              Description
            </div>
          </div>
        </div>
        <div class="settings">
          <div
            style="width: 40px; height: 40px; border: 2px #f3f3f3 solid"
          ></div>
        </div>
        <div class="help">
          <div
            style="width: 33.33px; height: 33.33px; border: 2px #f3f3f3 solid"
          ></div>
        </div>
      </div>
      <div
        class="system-title"
        style="
          color: black;
          font-size: 26px;
          font-family: sans-serif;
          font-weight: 400;
        "
      >
        Environmental Compliance Management System
      </div>
      <div class="header-bottom" style="background: #e3e8d9"></div>
      <div class="navigation-bar-wrapper">
        <div class="navigation-bar">
          <div class="nav-item">
            <a href="/dashboard">Dashboard</a>
          </div>
          <div class="nav-item">
            <a href="/forms">Forms</a>
          </div>
          <div class="nav-item">
            <a href="/responsible">Responsible</a>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
